---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
  firstName: "Aditya",
  country: "India",
  occupation: "Developer Intern",
  organisation: "Opalina Technologies",
  hobbies: ["Photography", "Stargazing", "Sports & Fitness", "Trekking", "Travelling"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "C++", "Python", "Java", "TypeScript", "Node.js", "SQL", "Git", "REST APIs"];
---
  <BaseLayout pagetitle={pageTitle}>
    
    <p>
      Hi! My name is {identity.firstName} and I am currently working at Oplaina Technologies as a Developer Intern.
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>
    
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation} at {identity.organisation}.
      </li>
      <br>
      {
        <p>My hobbies are:</p>
        <ul>
          {identity.hobbies.map((hobbie)=> <li class="font-bold">{hobbie}</li>)}
        </ul>
      }
    </ul>
    <br>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li  class="skill">{skill}</li>)}
    </ul>
  </ul>
  
  
</BaseLayout>